
.crypto-list
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    flex-direction: row
    scrollbar-width: thin
    width: 1170px
    margin: 50px auto
    overflow: hidden
    z-index: -1

.form
    text-align: center
    margin-top: 20px
    .search
        &_panel-list
            background: rgba(0, 0, 0,0 )
            border: none
            border-bottom: 2px solid #E6E8EC
            padding: 5px 6px 5px 8px
            gap: 18px
            width: 256px
            height: 20px
            color: #E6E8EC
            font-weight: 700
            font-size: 16px
            &:focus-visible
                // outline: none
                outline: none
                
            
.item_back
    position: absolute
    z-index: -1
    width: inherit
    height: inherit
    top: 245px
    transform: rotate(347deg)
    left: -450px
    opacity: 50%
    &.right
        top: -140px
        left: 980px
        transform: rotate(130deg)


